{% extends "app/base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <p>Простейшими тригонометрическими уравнениями называют уравнения вида:<br>

        sin x = a ,     cos x = a ,     tg x = a ,     ctgx = a ,

        где a – произвольное число</p>
            <img src="https://www.bymath.net/studyguide/tri/sec/tri16a.gif"><br>
            <img src="https://www.bymath.net/studyguide/tri/sec/tri16b.gif"><br>
            <img src="https://www.bymath.net/studyguide/tri/sec/tri16c.gif"><br>
            </div>
    </div>
</div>
{% endblock %}